Update the **School Dataset**

In [ ]:
import pandas as pd
import numpy as np

# Load the data
df = pd.read_csv('school_data.csv')

# Replace 'PK' and 'KG' with '0' and '1' and standarize other values
df['START_GRADE'] = df['START_GRADE'].replace({'PK': '0', 'KG': '1', '01': '1', '02': '2', '03': '3', '04': '4'
, '05': '5', '06': '6', '07': '7', '08': '8', '09': '9'})
df['END_GRADE'] = df['END_GRADE'].replace({'KG': '1', '01': '1', '02': '2', '03': '3', '04': '4'
, '05': '5', '06': '6', '07': '7', '08': '8', '09': '9'})

#finally convert them to int
df['START_GRADE'] = df['START_GRADE'].astype(int)
df['END_GRADE'] = df['END_GRADE'].astype(int)

#display all unique values of START_GRADE and END_GRADE
print("Unique values for START_GRADE: " + str(np.sort(df['START_GRADE'].unique())))
print("Unique values for END_GRADE: " + str(np.sort(df['END_GRADE'].unique()))+ "\n")

#count number of states in school dataset
print("Number of unique states in School Dateset: " + str(df['STATE'].nunique()) + "\n")

# Save the data INTO A NEW FILE
df.to_csv('school_updated.csv', index=False)
print("School dataset updated into --> 'school_updated.csv'")

#numerical summary of numerical columns for school
df[['POPULATION', 'LEVEL', 'ENROLLMENT', 'FT_TEACHER']].describe().round(2)

Unique values for START_GRADE: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17]
Unique values for END_GRADE: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17]

Number of unique states in School Dateset: 54

School dataset updated into --> 'school_updated.csv'

       POPULATION      LEVEL  ENROLLMENT  FT_TEACHER
count   120775.00  120775.00   120775.00   120775.00
mean       464.54       1.65      436.06       28.48
std        452.78       0.85      429.49       25.55
min          1.00       1.00        0.00        0.00
25%        144.00       1.00      131.00       11.00
50%        385.00       1.00      360.00       24.00
75%        627.00       2.00      590.00       38.00
max       6446.00       3.00     5840.00     1419.00

Update **Education** data

In [ ]:
education = pd.read_csv("education_history.csv")

# Remove rows that do not contain the word "County" in the 'Area_Name' column
education = education[education['Area_Name'].str.contains('County', case=False)].copy()

# Remove the word "County" from the 'Area_Name' column
education['Area_Name'] = education['Area_Name'].str.replace('County', '', case=False)

#Since we removed some rows we need to update the ID
education = education.drop(columns='ID')
# Add a new 'ID' column
education['ID'] = range(1, len(education)+1)
# Make 'ID' the first column
education = education[['ID'] + [col for col in education.columns if col != 'ID']]

#Make count INT
education['Count'] = education['Count'].str.replace(',', '').astype(int)

#print the number of unique values in this dataset
print(education.nunique())

print("\n")

#print some counties in New Jersey
print(education[education['State'] == 'NJ']['Area_Name'].head())

# Save the data INTO A NEW FILE
education.to_csv('education_updated.csv', index=False)
print("Education History dataset updated into --> 'education_updated.csv'")

ID                 72024
State                 48
Area_Name           1735
Time                   6
Education_Level        4
Count              22771
dtype: int64


1792      Atlantic
1793        Bergen
1794    Burlington
1795        Camden
1796      Cape May
Name: Area_Name, dtype: object
Education History dataset updated into --> 'education_updated.csv'

Update **Real Estate** dataset

In [ ]:
houses  = pd.read_csv("real_estate.csv")

# print the unique states in houses
print("Number of unique states in Real_Estate dataset: " + str(houses['state'].nunique()))

#print all the unique states
print(str(houses['state'].unique()))

# Create a dictionary that maps full state names to abbreviations
state_abbreviations = {
    'Puerto Rico': 'PR',
    'Virgin Islands': 'VI',
    'Massachusetts': 'MA',
    'Connecticut': 'CT',
    'Vermont': 'VT',
    'New Hampshire': 'NH',
    'New York': 'NY',
    'Rhode Island': 'RI',
    'Maine': 'ME',
    'Georgia': 'GA',
    'New Jersey': 'NJ',
    'Pennsylvania': 'PA',
    'Delaware': 'DE',
    'West Virginia': 'WV',
    'Ohio': 'OH',
    'Maryland': 'MD',
    'Virginia': 'VA',
    'District of Columbia': 'DC',
    'North Carolina': 'NC',
    'Kentucky': 'KY',
    'Tennessee': 'TN',
    'South Carolina': 'SC',
    'Alabama': 'AL',
    'Florida': 'FL'
}

# Replace full state names with abbreviations in the 'state' column
houses['state'] = houses['state'].replace(state_abbreviations)

#store the updated dataset
houses.to_csv('houses.csv', index=False)
print("Real_Estate dataset updated into --> 'houses_updated.csv'")

Number of unique states in Real_Estate dataset: 24
['Puerto Rico' 'Virgin Islands' 'Massachusetts' 'Connecticut' 'Vermont'
 'New Hampshire' 'New York' 'Rhode Island' 'Maine' 'Georgia' 'New Jersey'
 'Pennsylvania' 'Delaware' 'West Virginia' 'Ohio' 'Maryland' 'Virginia'
 'District of Columbia' 'North Carolina' 'Kentucky' 'Tennessee'
 'South Carolina' 'Alabama' 'Florida']
Real_Estate dataset updated into --> 'houses_updated.csv'